i{
    cursor: pointer;
}
.app-container {
    display: flex;
    justify-content: center;
}
.app-container > div{
    border: .1px solid #d5d5d54d;
    width: 450px;
    position: absolute;
    height: 100%;
    top: 0;
}
.close-icon{
    background-color: rgb(249, 249, 249);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 22px;
  }
.close-icon i{
   font-size: 35px;
}
.loading h1{
    text-align: center;
    top: 40%;
    position: fixed;
    left: 45%;
    z-index: 10;
}